.heading{
    background-color: violet;
    color: #b9bab6;
    font-size: 12px;
    font-family: "Arial",sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    
}
#heading-element{
    font-size: 18px;
    color: blueviolet;
    font-family: "Arial",sans-serif;
    font-weight: lighter;
}
img{
    height: 15%;
    width: 35%;
}
.Bottom-heading{
    font-size: 45px;
    font-family: "Arial",sans-serif;
}
p{
    font-family: "Arial",sans-serif;
}
#card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 18px;
    margin: 125px;
}